gcc-build
binutils-build
binutils-2.46.1
gcc-13.2.0
build
rename_tag.sh
sign.py
sign.bin
check.py
.venv
disk.img
sysroot
micropython
crt0.o
stubs.o
user_app.elf
user.o
linecount.c
linecount
tinycc
packets.pcap
JetBrainsMono-Regular.ttf
tree.txt
userspace
JetBrains_Mono
zlib
chfs
cross.txt
m.bin
mtys
my_disk.qcow2
carrera
iso/initramfs.cpio
zlib
altpy.a
nvme.img
user.ld
userspace.carrera
iso/*.iso
*.iso